<div class="container">
    <p></p>
    <h1>Give your Valuable feedback</h1>
    <br>
    <a href="#" routerLink="/customerDashboard" class="btn btn-primary btn-custom">Back</a>
      
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group">
        <div class="form-group">
          <label for="itemName">ItemName</label>
          <!-- <input
            formControlName="itemName"
            id="itemName" 
            type="text" 
            class="form-control"
          >
     -->
     <select formControlName="itemName" id="itemName" class="form-control">
      <option value="" disabled>Select an Item</option>
      <option *ngFor="let itemName of itemNames" [value]="itemName">{{ itemName }}</option>
    </select>
          <div *ngIf="f['itemName'].touched && f['itemName'].invalid" class="alert alert-danger">
            <div *ngIf="f['itemName'].errors && f['itemName'].errors['required']">Item Name is required.</div>
          </div>
        </div>
        <label for="Text">Add a review</label>
        <textarea
          formControlName="Text"
          id="Text" 
          type="text" 
          class="form-control"
        ></textarea>
  
        <div *ngIf="f['Text'].touched && f['Text'].invalid" class="alert alert-danger">
          <div *ngIf="f['Text'].errors && f['Text'].errors['required']">Text is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="Rating">Rating:</label>
        <!-- Example of using a star rating component -->
        <app-star-rating
          [rating]="f['Rating'].value"
          (ratingChange)="f['Rating'].setValue($event)"
        ></app-star-rating>
        
        <div *ngIf="f['Rating'].touched && f['Rating'].invalid" class="alert alert-danger">
          <div *ngIf="f['Rating'].errors && f['Rating'].errors['required']">Rating is required.</div>
        </div>
      </div>
  
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Submit</button>
    </form>
  </div>
