
<!-- <img src="https://storage.googleapis.com/gweb-cloudblog-publish/images/distances-straight-line.max-2800x2800.max-2200x2200.jpg" alt="Image Description" style="max-width: 100%; height: auto; border: 2px solid #ddd; border-radius: 5px;"> -->
<!-- image-display.component.html -->

<a href="#" routerLink="/edititem" class="btn btn-primary btn-custom">Back</a>
 <img src="https://storage.googleapis.com/gweb-cloudblog-publish/images/distances-straight-line.max-2800x2800.max-2200x2200.jpg" alt="Image Description" class="image-container"> 

<div>
    <button (click)="zoomIn()">
      <i class="fa fa-search-plus" aria-hidden="true"></i> 
    </button>
    <button (click)="zoomOut()">
      <i class="fa fa-search-minus" aria-hidden="true"></i> 
    </button>
  </div> 
  <!-- <img src="https://storage.googleapis.com/gweb-cloudblog-publish/images/distances-straight-line.max-2800x2800.max-2200x2200.jpg" alt="Image Description" [style.width.%]="zoomLevel"> -->
  
  
  
