.btn-custom {
    background-color: blue;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 70px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    /* Add any other styles you need */
  }
  
  .star-rating {
    font-size: 24px; /* Adjust the font size as needed */
    color: gold; /* Color of the stars (you can use any color you prefer) */
  }
  