<div class="flight-card"><img class="profile-img-card" src="assets/img/login.jpeg" />
    <p class="profile-name-card"></p>
    <form [formGroup]="form" (ngSubmit)="submit()" class="form-signup"><span class="reauth-email"></span>
        <div class="row">
            <div class="col-md-12 form-group">
                <input #Email formControlName="itemName" type="text" class="form-control" id="itemName" required placeholder="itemName " autofocus />
                <div *ngIf="f['itemName'].touched && f['itemName'].invalid" class="alert alert-danger">
                    <div *ngIf="f['itemName'].errors && f['itemName'].errors['required']">itemName is required.</div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group">
                <input #Email formControlName="description" type="text" class="form-control" id="description" required placeholder="description" autofocus />
                <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
                    <div *ngIf="f['description'].errors && f['description'].errors['required']">description is required.</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input #Email formControlName="price" type="text" class="form-control" id="price" required placeholder="price" autofocus />
                <div *ngIf="f['price'].touched && f['price'].invalid" class="alert alert-danger">
                    <div *ngIf="f['price'].errors && f['price'].errors['required']">price is required.</div>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="col-md-6 form-group">
                <input #Email formControlName="itemAvailability" type="text" class="form-control" id="itemAvailability" required placeholder="itemAvailability" autofocus />
                <div *ngIf="f['itemAvailability'].touched && f['itemAvailability'].invalid" class="alert alert-danger my-2">
                    <div *ngIf="f['itemAvailability'].errors && f['itemAvailability'].errors['required']">itemAvailability is required.</div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <input #Email formControlName="image" type="text" class="form-control" id="image" required placeholder="image" autofocus />
                <div *ngIf="f['image'].touched && f['image'].invalid" class="alert alert-danger my-2">
                    <div *ngIf="f['image'].errors && f['image'].errors['required']">image are required.</div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary btn-block btn-lg btn-signup" type="submit">Register</button>
        </form>
